body {
    background-color: antiquewhite;
}

.galeria-fotos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1px;
    padding: 2px;

}
.imagem-galeria{
    width:100%;
}

.secao-cardapio {
    background-color: rgb(248, 126, 4);
    /* margin:50px;
    margin-left: 5px;
    margin-right: 80px;
    margin-top: 50px;*/
    margin: 10px 70px;

    padding: 60px;
    padding-top: 80px;

    border: 5px solid black;
    outline: 4px dashed rgb(0, 0, 0);

}

.lista-itens {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    justify-content: space-around;
    display: flex;
    gap: 25px;
}

.bloco-item {
    background-color: rgba(244, 126, 7, 0.944);
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    min-width: 250px;

    /* margin: 20px;*/
}
.bloco-item li{
    list-style: none;
    padding: 0;
}

    .bloco-item ul li{
        padding: 10px 0px;
        margin: 5px;
        border-bottom: 1px dashed black;

        justify-content: space-between;
        display: flex;
    }